.swagger-ui .topbar {
	background-color: #8993be;
}

.swagger-ui .topbar .download-url-wrapper input[type=text]{
	border: 2px solid #6275c1
}

.swagger-ui .topbar .download-url-wrapper .download-url-button{
	background: #6275c1;
}
